.nav-container {
    font-weight: 20px;
    padding-left: 10% !important;
    padding-right: 10% !important;
    height: 50px !important;
}

.navsub {
    font-weight: bold;
    height: 50px;
    background-color: #13396B;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 0% !important;
}

.content {
    margin-top: 2%;
    margin-left: 10%;
    margin-right: 10%;
}

.dropdown-item:active {
    background-color: #13396B !important;
}

.images {
    padding-bottom: 6% !important;
}

.btn {
    align-items: center !important;
    justify-content: center;
    border-radius: 25px !important;
    padding: 5px 17px;
    background-color: transparent;
    border-color: #8c8c8c !important;
    color: #8c8c8c;
    font-size: 16px !important;
    font-size: 13px;
    margin-right: 20px;
    font-weight: 450;
}

.btn:hover {
    background-color: transparent !important;
    /* Remove a mudança de cor de fundo */
    border-color: #6a6a6a !important;
    /* Remove a mudança de cor da borda */
    color: #6a6a6a !important;
    /* Remove a mudança de cor do texto */
}

.filtros {
    padding-bottom: 3%;

}

.barber {
    padding-top: 2%;
    display: flex; /* Adiciona flexbox */
    flex-wrap: wrap; /* Permite que os itens sejam quebrados em várias linhas */
    justify-content: space-between; /* Espaça uniformemente os itens na linha */
}

.barberItem {
    width: 30%;
    height: 120px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 20px; /* Adiciona uma margem na parte inferior */
    border-radius: 15px; /* Adiciona bordas arredondadas */
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2); /* Adiciona sombra */
    transition: transform 0.4s ease, box-shadow 0.2s ease;
    background-color: #ffffff; /* Adiciona cor de fundo */
}

.barberItem:hover {
    cursor: pointer;
    transform: scale(1.01);
    box-shadow: 0 7px 14px 0 rgba(0,0,0,0.2); /* Aumenta a sombra no hover */
}

.barberText {
    width: 70%; /* Garante que o texto ocupe toda a largura do item */
    text-align: left; /* Centraliza o texto horizontalmente */
    padding: 15px; /* Adiciona um pouco de espaço ao redor do texto */
    position: relative;
    top: 0; /* Remove o deslocamento vertical */
}

.barberName {
    font-size: 24px;
    font-weight: 400;
    position: relative;
}

.bi-star-fill {
    font-size: 16px;

}

.barberInfo {
    padding-top: 3px;
    font-size: 16px;
}

.avaliacao {
    color: rgb(255, 213, 0);
}

.distancia {
    color: rgba(0, 0, 0, 0.45);
}


.barberItem p {
    padding-left: 15%;
    font-size: 20px !important;
    padding-bottom: 20% !important;
    display: inline-block !important;
}

.images img {
    padding-right: 3% !important;
}

#logo{
    border-radius: 7px;
}